<%= link_to 'New Article', new_article_path %>
<p>
  <%= link_to t('articles.new.title'), new_article_path,
    class: 'btn btn-success',
    'data-bs-toggle': 'tooltip',
    'data-bs-placement': 'top',
      title: t('articles.new.title')
  %>
</p>

    <ul>
        <% @articles.each do |article| %>
        <li>
            <a href="<%= article_path(article) %>">
                <%= link_to article.title, article %>
            </a>
        </li>
        <% end %>
    </ul>