  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>Created by Wiston Thiago while studying Rails (w/ Ruby 3.3.0)</p>
    <p class="mb-0">
      <a href="#">Back to top</a>
    </p>
  </footer>
  </body>
</html>